@config "../../tailwind.config.ts";
@import "tailwindcss";

@layer base {
  body {
    @apply text-sm text-neutral-600 bg-neutral-50;
  }

  h1 {
    @apply text-xl sm:text-2xl lg:text-3xl font-semibold text-neutral-800;
  }

  h2 {
    @apply text-lg sm:text-xl lg:text-2xl font-semibold text-neutral-800;
  }

  h3 {
    @apply text-base sm:text-lg font-medium text-neutral-700;
  }
}

html,
body {
  @apply overflow-x-hidden;
}

.authentication-background {
  position: relative;
  background-image: url("/authentication-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(88, 155, 255, 0.95);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
  }
}

.leaflet-label {
  margin-left: 20px !important;
  margin-top: -25px;
}

.fade-in {
  animation: fadeIn 0.3s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 390px) and (max-width: 767px) {
  .newQuery {
    max-width: 100%;
  }
}

/* Ocultar tr vacío generado por HeroUI para scroll */

table {
  width: 100%;
  box-shadow: none;
}
/* thead:not([data-slot="grid-header"])*/
thead {
  @apply border-b border-neutral-200 h-[45px];
  & > tr > th {
    @apply first:rounded-none last:rounded-none font-medium text-sm text-neutral-800;
  } /*
  & > tr:last-child {
    display: none !important;
  }*/
}

tbody > tr {
  @apply h-12;
  &:hover {
    @apply bg-neutral-50 cursor-pointer;
  }
  & > td {
    @apply border-b border-neutral-200 text-[13px] text-neutral-700 font-light;
  }
}

.btn-primary {
  @apply bg-primary-500 text-sm text-white rounded-md;
}

.btn-secondary {
  @apply bg-neutral-200/50 text-sm text-neutral-600 rounded-md;
}

/* Solución para aria-hidden warning en HeroUI Select dentro de Modal */
[role="dialog"] ~ div[role="tooltip"],
[role="dialog"] ~ div[role="listbox"] {
  inert: none !important;
}

/* Permitir focus en Select popover dentro de Modal */
[aria-hidden="true"] ~ [role="presentation"] {
  inert: none !important;
}

.rbc-calendar {
  border: 0;
}

.rbc-off-range {
  color: #999;
}
.rbc-off-range-bg {
  background-color: transparent;
}

.rbc-header {
  overflow: hidden;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 0%;
  flex: 1 0 0%;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 3px;
  text-align: center;
  vertical-align: middle;
  font-weight: 700;
  font-size: 90%;
  min-height: 0;

  @apply border-b border-neutral-200;

  padding: 10px 3px !important;
}
.rbc-header + .rbc-header {
  @apply border-l border-neutral-200;
}
.rbc-button-link {
  color: #5a6a85;
  font-size: 14px;
}

.rbc-today {
  background-color: #e9f6ff;
}

.rbc-day-bg + .rbc-day-bg {
  @apply border-l border-neutral-200;
}
.rbc-toolbar {
  margin-bottom: 30px;
}

.rbc-btn-group {
  border-radius: 0.25em;
}

.rbc-toolbar button {
  border: 1px solid transparent;
  font-size: 13px;
  line-height: 1.5;
  font-weight: 400;
  padding: 0.4em 0.65em;
  color: #fff;
  background-color: rgb(88, 155, 255);
  border: 1px solid rgb(88, 155, 255);
}

/*.rbc-toolbar button:active,*/

.rbc-toolbar button.rbc-active,
.rbc-toolbar button.rbc-active:focus,
.rbc-toolbar button:active:hover,
.rbc-toolbar button.rbc-active:hover {
  background-color: rgb(88, 155, 255);
  border: 1px solid rgb(88, 155, 255);
  color: #fff;
  opacity: 0.9;
}
.rbc-toolbar button:hover,
.rbc-toolbar button:active,
.rbc-toolbar button:focus {
  background-color: rgb(88, 155, 255);
  border: 1px solid rgb(88, 155, 255);
  color: #fff;
}

.rbc-btn-group button + button {
  border-left: 1px solid #5d87ff;
}

.rbc-toolbar .rbc-btn-group:first-child {
  display: flex;
}

/* Hoy → al final */
.rbc-toolbar .rbc-btn-group:first-child button:nth-child(1) {
  order: 3;
  margin-left: 0.75em;
  border-radius: 0.25em;
}

/* Flecha izquierda */
.rbc-toolbar .rbc-btn-group:first-child button:nth-child(2) {
  order: 1;
  border-top-left-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
}

/* Flecha derecha */
.rbc-toolbar .rbc-btn-group:first-child button:nth-child(3) {
  order: 2;
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
}

.rbc-event-content {
  font-size: 13px;
}

.cluster-icon {
  background: transparent;
  border: none;
}

.bubble {
  width: 44px;
  height: 44px;
  border-radius: 999px;
  color: white;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow:
    0 8px 20px rgba(0, 0, 0, 0.25),
    inset 0 2px 6px rgba(255, 255, 255, 0.3);
  border: 3px solid white;
  transition: transform 0.15s ease;
}

.bubble:hover {
  transform: scale(1.08);
}

.mapboxgl-popup-content {
  font-family: var(--font-sans) !important;
  background-color: #ffffff !important;
  border-radius: 8px !important;
  box-shadow:
    0 10px 15px -3px var(--tw-shadow-color, #0000001a),
    0 4px 6px -4px var(--tw-shadow-color, #0000001a) !important;
}

.mapboxgl-popup-close-button {
  right: 5px !important;
  top: 3px !important;
}
