@config "../../tailwind.config.ts";
@import "tailwindcss";

html {
  @apply overflow-x-hidden;
}
body {
  @apply text-gray-600;
  @apply overflow-x-hidden;
}

.leaflet-label {
  margin-left: 20px !important;
  margin-top: -25px;
}

.fade-in {
  animation: fadeIn 0.3s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 390px) and (max-width: 767px) {
  .newQuery {
    max-width: 10vw;
  }
}
